%h2
	= "Today is #{Date::DAYNAMES[Time.now.wday]}, and this is your"
	%br
	%br
	= link_to 'Daily Game Changer', "http://www.dailygamechanger.com#{changer_path(@game_changer)}"
%br
%br
%br
%br
%h2 ENJOY!

%br
%br
%br
don't like fun? want your life to be boring and ugly? 
= link_to 'click here to unsubscribe!', @peon.unsub_url
\:D


